<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE</title>
    <link rel="icon" type="image/x-icon" href="./assets/Resouces/favicon.ico">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./assets/css/landing.css">
    <link rel="stylesheet" href="./assets/css/navbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="./assets/javascript/theme.js" defer></script>
    <script src="./assets/javascript/skills.js" defer></script>
    <script src="./assets/javascript/intersection.js" defer></script>
    <script src="./assets/javascript/navbar.js" defer></script>
    <script src="./assets/javascript/sliding.js" defer></script>
</head>

<body class="dark-color transition">
    <header>
        <div class="navbar top">
            <!-- <img class="nav-item flex logo" onclick="window.open('https://youtu.be/dQw4w9WgXcQ');" src="Resouces/Logo.png"> -->
            <div class="nav-item flex">LAXH</div>
            <div class="flex nav-menu">
                <!-- <div class="nav-item flex" id="theme-btn"><span class="material-icons">dark_mode</span></div> -->
                <a class="nav-item flex" href="#">HOME</a>
                <a class="nav-item flex" href="#my-work">LET'S PLAY</a>
                <a class="nav-item flex" href="/login">LOGIN</a>
                <a class="nav-item flex" href="/register">SIGN UP</a>
                <a href=""></a>
            </div>
            <div class="hamburger-container flex">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="front flex col" id="home">
            <video autoplay loop muted plays-inline>
                <source src="./assets/Resouces/Banner.mp4" type="video/mp4">
            </video>
            <h2>FOR THE GAMERS</h2>
            <h1>LAXH</h1>
            <div class="button outline" onclick="location.href='#'">LET'S PLAY</div>
        </div>
        <div class="container" id="my-work">
            <h1 class="section-title animate">GAME MODES</h1>
            <div class="cards-container">
                <div class="card center shadow animate delay-1" style="cursor: pointer;" onclick="window.open('')">
                    <img src="./assets/Resouces/Image2.jpg" class="background"></img>
                    <div class="card-title">REACTION TIME TEST</div>
                </div>
                <div class="card center shadow animate right delay-2" style="cursor: pointer;"
                    onclick="window.open('')">
                    <img src="./assets/Resouces/Image3.jpg" class="background"></img>
                    <div class="card-title">GRIDSHOT</div>
                </div>
                <div class="card center shadow animate delay-3" style="cursor: pointer;" onclick="window.open('')">
                    <img src="./assets/Resouces/Image4.jpg" class="background"></img>
                    <div class="card-title">LOCKSHOT</div>
                </div>
                <div class="card center shadow animate right delay-4" style="cursor: pointer;"
                    onclick="window.open('')">
                    <img src="./assets/Resouces/Image6.jpg" class="background"></img>
                    <div class="card-title">SIXSHOT</div>
                </div>
            </div>
        </div>
        <div class="container" id="about-me">
            <h1 class="section-title animate">ABOUT LAXH</h1>
            <div class="about-me flex">
                <img id="slidingPic"
                    src="https://images.prismic.io/3dat-corporate-web/3ad880cc-0f07-43f0-8b99-4860749e2477_apex-legends.png?auto=compress,format"
                    class="animate" style="z-index: 1;">
                <div class="about-me-content flex col">
                    <h2 class="animate delay-1">JOIN US AND</h2>
                    <h1 class="animate delay-2">UNLEASH YOUR POTENTIAL.</h1>
                    <h3 class="animate delay-3"> ARE YOU READY?</h3>
                    <p class="animate delay-4">Train in over 6 tasks with detailed reporting and analysis for FREE! Laxh
                        is the FPS/TPS trainer of choice for all the pros all around the world. Improve your aim
                        drastically by practicing with us.
                    </p>
                    <!-- <div class="button accent"  onclick="location.href='#my-work';">VIEW WORK</div> -->
                </div>
            </div>
        </div>
        <!-- <div class="container" id="skills">
            <h1 class="section-title animate">SKILLS</h1>
            <div class="cards-container" id="skills-container">
            </div>
        </div> -->
        <div class="container" id="experience">
            <h1 class="section-title2 animate">WHY LAXH</h1>
            <div class="cards-container">
                <div class="card animate delay-5" style="cursor: pointer;" onclick="window.open('')">
                    <img src="./assets/Resouces/Image1.jpg" class="background"></img>
                    <div class="card-title">STATS TRACKING</div>
                    <div class="card-subtitle">ACCURATE AS HELL</div>
                    <!-- <div class="card-subtitle2">SEPT 2021 - PRESENT</div> -->
                    <div class="card-content">> Tracks your performance over time<br />> Provides detailed
                        statistics<br />
                    </div>
                </div>
                <div class="card animate delay-5" style="cursor: pointer;"
                    onclick="window.open('https://www.fiverr.com/alphacupcake')">
                    <img src="./assets/Resouces/Image1.jpg" class="background"></img>
                    <div class="card-title">MEMORY MUSCLES</div>
                    <div class="card-subtitle">YOU WILL GET USED TO IT</div>
                    <!-- <div class="card-subtitle2">SEPT 2021 - PRESENT</div> -->
                    <div class="card-content">
                        > Your brain and muscles learn to perform <br /> > You get BETTER everyday
                    </div>
                </div>
                <div class="card animate delay-5" style="cursor: pointer;"
                    onclick="window.open('https://www.fiverr.com/alphacupcake')">
                    <img src="./assets/Resouces/Image1.jpg" class="background"></img>
                    <div class="card-title">DIFFERENT MODES</div>
                    <div class="card-subtitle">SO BOREDOM DON'T COME IN YOUR WAY</div>
                    <!-- <div class="card-subtitle2">SEPT 2021 - PRESENT</div> -->
                    <div class="card-content">> Several modes to improve loopholes <br /> > Improves Adaptability
                    </div>
                </div>
                <div class="card animate delay-5" style="cursor: pointer;"
                    onclick="window.open('https://www.fiverr.com/alphacupcake')">
                    <img src="./assets/Resouces/Image1.jpg" class="background"></img>
                    <div class="card-title">FREE TO USE</div>
                    <div class="card-subtitle">YOU HEARD IT!</div>
                    <!-- <div class="card-subtitle2">SEPT 2021 - PRESENT</div> -->
                    <div class="card-content">> Start training for free<br />> Recommended by Pros
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="contact">
            <h1 class="section-title animate">CREATORS</h1>
            <div class="cards-container">
                <div class="card center shadow animate delay-3" style="cursor: pointer;"
                    onclick="window.open('https://www.instagram.com/alphacupcake10/')">
                    <img src="./assets/Resouces/Image6.jpg" class="background"></img>
                    <div class="card-title">LAKSHMAN</div>
                    <img class="specialImages" src="./assets/Resouces/Me.jpg" />
                </div>
                <div class="card center shadow animate right delay-4" style="cursor: pointer;"
                    onclick="window.open('https://www.linkedin.com/in/alphacupcake10/')">
                    <img src="./assets/Resouces/Image7.jpg" class="background"></img>
                    <div class="card-title">DIVIT GAUR</div>
                    <img class="specialImages" src="./assets/Resouces/div1.jpg" />
                </div>
                <div class="card center shadow animate delay-4" style="cursor: pointer;"
                    onclick="window.open('https://linktr.ee/AlphaCupcake10')">
                    <img src="./assets/Resouces/Image8.jpg" class="background"></img>
                    <div class="card-title">KUSHAGRA</div>
                    <img class="specialImages" src="./assets/Resouces/kush.jpg" />
                </div>
                <div class="card center shadow animate delay-3" style="cursor: pointer;"
                    onclick="window.open('https://www.instagram.com/alphacupcake10/')">
                    <img src="./assets/Resouces/Image6.jpg" class="background"></img>
                    <div class="card-title">ANTRIP</div>
                    <img class="specialImages" src="./assets/Resouces/antrip.jpg" />
                </div>
                <div class="card center shadow animate right delay-4" style="cursor: pointer;"
                    onclick="window.open('https://www.linkedin.com/in/alphacupcake10/')">
                    <img src="./assets/Resouces/Image7.jpg" class="background"></img>
                    <div class="card-title">ANURAG</div>
                    <img class="specialImages" src="./assets/Resouces/anu.jpeg" />
                </div>
                <div class="card center shadow animate delay-4" style="cursor: pointer;"
                    onclick="window.open('https://linktr.ee/AlphaCupcake10')">
                    <img src="./assets/Resouces/Image8.jpg" class="background"></img>
                    <div class="card-title">DEVANSH</div>
                    <img class="specialImages" src="./assets/Resouces/devansh.jpeg" />
                </div>
            </div>
        </div>
    </main>
    <footer class="flex col accent-color" style="text-align: center;">
        <p>Bit Wizards © 2023</p>
        <!-- <p class="subtext">PURE CSS | VANILLA JAVASCRIPT</p> -->
    </footer>
</body>

</html>