<!DOCTYPE html>
<html>

<head>
	<title>Login Register App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/util.css">

	<script type="text/javascript">
		$(document).ready(() => {

			$("#form").submit((event) => {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: (response) => {
						window.location.href = "/profile"

						// $('#form')[0].reset();

						// document.getElementById("check").innerHTML = response.Success;
						// //ADD THIS CODE
						// setTimeout(() => {
						// 	document.getElementById("check").innerHTML = "";
						// }, 3000);
						// if (response.Success == "Success!") {
						// 	document.getElementById("aa").click();
						// };
					},
					error: () => {
					}
				})
			});

		});
	</script>
</head>

<body>


	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more"></div>
			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form id="form" method="post">
					<span class="login100-form-title p-b-50">
						Log In
					</span>
					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="text" name="password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn p-l-75">
						<div class="wrap-login100-form-btn p-r-25">
							<input type="submit" value="Login" class="login100-form-btn">
						</input>
						</div>
                        <p></p>
						<a href="/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-65">
							Create an account
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>








<!-- 
	<div class="col-md-4 col-md-offset-4 form-card">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group ">
			<form id="form" method="post">
				<input type="text" name="email" pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$" placeholder="E-mail" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/profile" id="aa"></a>
		</div>
		<div><span>Do you forgot password? </span><a href="/forgetpass">click here</a>
		</div>
		<div id="LangTable"><span>Do you want to register a new Account? </span><a href="/">click here</a>
		</div>
	</div> -->
</body>

</html>